.buttonContainer {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 30px;
  border: 2px solid #111;
  text-transform: uppercase;
  color: #111;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 40px;
}
.buttonContainer::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% - 12px);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
  transition-delay: 0.5s;
}
.buttonContainer:hover::before {
  transform: scaleY(0);
}
.buttonContainer::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
}
.buttonContainer:hover::after {
  transform: scaleX(0);
}
.buttonContainer span {
  position: relative;
  z-index: 3;
}
.buttonContainer span a {
  color: #111;
  text-decoration: none;
  font-family: "Roboto", serif;
}
@media (max-width: 414px) {
  .buttonContainer span {
    font-size: 15px;
  }
}
