.descriptionWrapper {
  width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.descriptionRow {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.descriptionItem {
  margin: 20px;
  flex: 1;
}
.descriptionItem .descriptionImage {
  width: 550px;
  height: 385px;
  border-radius: 5px;
}
.descriptionItem p {
  margin: 0;
}
.descriptionItem ul {
  list-style: none;
  padding: 0;
}
@media (max-width: 1200px) {
  .descriptionWrapper {
    width: 95%;
  }
  .descriptionItem .descriptionImage {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .descriptionRow {
    flex-direction: column;
    align-items: center;
  }
  .descriptionItem {
    width: 90%;
    margin-bottom: 30px;
  }
}
