.cardsContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.cardContainer {
  width: 700px;
  height: 350px;
  margin-bottom: 140px;
  border: 1px solid black;
  position: relative;
}
.cardContainer:first-child {
  align-self: flex-end;
}
.cardContainer .cardImgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardContainer .cardImgContainer img {
  max-width: 100%;
  height: auto;
}
.cardTitle {
  position: absolute;
  top: -25px;
  margin: 0;
  font-size: 25px;
}
