.logos .container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 55px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.jumboContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
}
.jumboHeading {
  font-family: "Roboto", serif;
  font-size: 34px;
  font-weight: 700;
  margin: 0;
}
.jumboParagraph {
  font-family: "Roboto", serif;
  font-size: 20px;
  font-weight: 400;
}
.logosItemsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.logoItem {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.logoItem img {
  max-width: 100%;
  height: auto;
  border: 1px solid #e9e9e9;
}
@media (max-width: 1200px) {
  .logos .container {
    width: 95%;
  }
  .jumboHeading {
    text-align: center;
  }
  .jumboParagraph {
    text-align: center;
  }
  .logoItem {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .logos .container {
    margin-bottom: 50px;
  }
  .logosItemsContainer {
    justify-content: center;
    margin-bottom: 50px;
  }
  .logoItem {
    width: 90%;
  }
}
