.footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  position: relative;
}
.contacts h3 {
  margin: 0;
}
.links {
  display: flex;
  flex-direction: column;
}
.links a,
.links p {
  margin: 0;
  margin-bottom: 12px;
  text-decoration: none;
  color: #a4a4a4;
  cursor: pointer;
}
.links a:hover,
.links p:hover {
  color: black;
}
.innerLinks {
  display: flex;
  flex-direction: column;
}
.innerLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.innerLinks ul li {
  margin-bottom: 12px;
}
.innerLink {
  margin-bottom: 12px;
  color: #a4a4a4;
  text-decoration: none;
}
.innerLink:hover {
  color: black;
}
@media (max-width: 1200px) {
  .footer {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .footer {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
  .links {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .innerLinks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts {
    text-align: center;
  }
}
