.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 1200px;
  margin: auto;
}
.leftArrow {
  position: absolute;
  top: 50%;
  left: 135px;
  z-index: 10;
  font-size: 50px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.25s linear;
  user-select: none;
}
.rightArrow {
  position: absolute;
  top: 50%;
  right: 135px;
  z-index: 10;
  font-size: 50px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.25s linear;
  user-select: none;
}
.leftArrow:hover,
.rightArrow:hover {
  opacity: 1;
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 5px;
}

.slide {
  opacity: 0;
  transition: 1s ease;
}
.slide.active {
  opacity: 1;
}
